<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devices</title>
</head>
<body>
    <div>
        <h1>Devices</h1>    
    </div>
    {% for device in context.devices %}
        <div>
            <h2 style="font-weight: normal;"><b>Device:</b> {{ device.name }}</h2>
            <p><b>ID:</b> {{ device.id }}</p>
            <p><b>Status:</b> {{ device.status }}</p>
            <p><b>Date created:</b> {{ device.date_created }}</p>
            <hr>
        </div>
    {% endfor %}
</body>
</html>